<template>
  <div id="app">
    <!--estructura tabla -->
    <nav>
      <div class="nav-wrapper blue darken-1">
        <a href="#" class="brand-logo center">Hamburguesas</a>
      </div>
    </nav>

    <div class="container">

      <form @submit.prevent="guardar">
        <!--<label>Id</label>
        <input type="text" placeholder="Id" v-model="burguer.id" />-->
        <label>Nombre</label>
        <input type="text" placeholder="Ingrese el nombre" v-model="burguer.nombre"/>
        <label>Calorias</label>
        <input type="text" placeholder="Ingrese las calorias" v-model="burguer.calorias"/>
        <label>Ingredientes</label>
        <input v-for="(ingrediente,index) in burguer.ingredientes" :key="index" placeholder="Ingrese ingrediente" v-model="burguer.ingredientes[index]"/>
        <br>
        <button @click.prevent="agregar()">+</button>
        <button @click.prevent="quitar()">-</button>
        <br>
        <br>
        <button class="waves-effect waves-light btn-small">
          Guardar
          <i class="material-icons left">save</i>
        </button>
      </form>

      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Calorias</th>
            <th>Ingredientes</th>
            <th>__v</th>
            <th>deleted</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="product of products" :key="product.id">

            <td>{{product._id}}</td>
            <td>{{product.nombre}}</td>
            <td>{{product.calorias}}</td>
            <li v-for="ingrediente in product.ingredientes" :key="ingrediente.id">{{ingrediente}}</li>
            <td>{{product.__v}}</td>
            <td>{{product.deleted}}</td>
            <td>
              <button @click="editar(product)" class="waves-effect btn-small blue darken-1">
                <i class="material-icons">create</i>
              </button>
              <button @click="remover(product)" class="waves-effect btn-small red darken-1">
                <i class="material-icons">delete_sweep</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--fin estructura tabla -->
  </div>
</template>

<script>

import Product from './services/products'

export default{

  data(){
    return{
      burguer: {
        Nombre: '',
        Calorias: '',
        ingredientes: [""]
      },
      products: []
    }
  },

  mounted(){
  this.listar()
  },

  methods:{

    listar(){
      Product.listar().then(response=>{
        this.products = response.data
      })
    },

    guardar(){
      if(!this.burguer._id){
        Product.guardar(this.burguer).then(response=>{
          this.burguer = {
            Nombre: '',
            Calorias: '',
            ingredientes: [""]
          }
        alert("Guardado con exito")
        this.listar()
        })
      }else{
        Product.actualizar(this.burguer).then(response=>{
          this.burguer = {
            Nombre: '',
            Calorias: '',
            ingredientes: [""]
          }
          alert("Actualizado con exito")
          this.listar()
          })
      }
    },

    editar(burguer){
      this.burguer = burguer
    },

    remover(burguer){
      if(confirm("¿Confirma eliminar la hamburguesa?")){
        Product.borrar(burguer).then(response=>{
        this.listar()
        })
      }
    },

    agregar(){
      this.burguer.ingredientes.push('')
    },

    quitar(){
      this.burguer.ingredientes.pop('')
    }
  }
}
</script>
<style>
</style>
